.selectedFilters {
  display: inline;
  margin-left: 0.5rem;
}

.selectedFilters > div:not(:last-child) {
  margin-right: 0.3rem;
}

@media (min-width: 0) {
  .filters > div:not(:first-child) {
    margin-top: 0.5rem;
  }
}

@media (min-width: 1440px) {
  .filters > div:not(:first-child) {
    margin-top: 1rem;
  }
}
