.suburbListWrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 39, 39);
  padding: 0.5rem;
}

.suburbList {
  display: none;
  max-height: 20rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.suburbList > div {
  color: white;
  cursor: pointer;
  padding: 0.1rem;
}

.suburbList > div.unhighlighted {
  background-color: unset !important;
}

.suburbList > div.highlighted {
  border-color: tomato !important;
  border-width: 0.1rem !important;
  border-style: double !important;
  font-size: larger;
}

@media (min-height: 53rem) and (min-width: 1024px) {
  .suburbList {
    display: block;
  }
}
