.suburbList {
  background-color: rgb(39, 39, 39);
  padding: 10px;
  max-height: 700px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.suburbList > div {
  color: white;
  cursor: pointer;
  padding: 3px;
}

.suburbList > div.unhighlighted {
  background-color: unset !important;
}

.suburbList > div.highlighted {
  border-color: tomato !important;
  border-width: 3px !important;
  border-style: double !important;
  font-size: larger;
}

@media (max-width: 768px) {
  .suburbList {
    visibility: hidden;
  }
}
