.legendContainer {
  padding: 2px;
  color: #555;
  background-color: white;
}
.legendContainer > div {
  line-height: 18px;
  white-space: nowrap;
  padding: 2px;
  cursor: pointer;
}
.legendContainer > div > div {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
  vertical-align: middle;
}
.legendContainer > div > span {
  display: inline-block;
  vertical-align: middle;
}
.legendContainer > div.highlighted {
  background-color: yellow !important;
  color: black !important;
}
