.legendContainer {
  padding: 0.1rem;
  color: #555;
  background-color: white;
}
.legendContainer > div {
  line-height: 1rem;
  white-space: nowrap;
  padding: 0.1rem;
  cursor: pointer;
}
.legendContainer > div > div {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  opacity: 0.7;
  vertical-align: middle;
}
.legendContainer > div > span {
  display: inline-block;
  vertical-align: middle;
}
.legendContainer > div.highlighted {
  background-color: #f3f36887 !important;
  color: black !important;
}

@media (min-width: 0) {
  .legendContainer {
    visibility: hidden;
  }
}

@media (min-width: 1024px) {
  .legendContainer {
    visibility: visible;
  }
}
