.container {
  height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    'top top'
    'left right'
    'bot bot';
  font-family: sans-serif;
  background-color: rgb(29, 29, 29);
  color: white;
}

.container > header,
.container > footer {
  padding: 20px;
}

.container > header {
  grid-area: top;
}

.container > .info-container {
  grid-area: left;
  overflow-y: auto;
}

.container > .map {
  grid-area: right;
}

.container > .map > div {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}

.container > footer {
  grid-area: bot;
}
