.container {
  display: grid;
  height: 100%;
  min-height: 100%;
  grid-gap: 0;
  height: 100vh;
  background-color: #262626;
}

header {
  grid-area: header;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .left {
  margin-left: 1rem;
  flex: 1;
  white-space: nowrap;
}

header .center {
  width: 100%;
  margin: 0 0.5rem;
}

main {
  grid-area: content;
}

main > div {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}

nav {
  overflow-y: auto;
  overflow-x: hidden;
  grid-area: nav;
  margin: 0 0.5rem;
}

aside {
  overflow-y: auto;
  overflow-x: hidden;
  grid-area: side;
  margin: 0 0.5rem;
}

footer {
  grid-area: footer;
  margin: 0.5rem;
}

@media (min-width: 0) {
  header .left {
    display: none;
  }
}

@media (min-width: 0) and (orientation: portrait) {
  .container {
    grid-template-areas:
      'header'
      'nav'
      'side'
      'content'
      'footer';

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      auto /* Nav */
      auto /* Sidebar */
      1fr /* Content */
      auto; /* Footer */
  }

  nav,
  aside,
  header .center {
    margin: 0;
  }
}

@media (min-width: 0) and (orientation: landscape) {
  .container {
    grid-template-areas:
      'header content'
      'nav content'
      'side content'
      'footer content';

    grid-template-columns: 16rem 1fr;
    grid-template-rows:
      auto /* Header */
      auto /* Nav */
      1fr /* Sidebar */
      auto; /* Footer */
  }
}

@media (min-width: 1440px) {
  .container {
    grid-template-areas:
      'header header header'
      'nav content side'
      'footer footer footer';

    grid-template-columns: 22rem 1fr 22rem;
    grid-template-rows: auto 1fr auto;
    background-color: unset;
  }

  header .left {
    display: block;
  }

  header .center {
    margin-right: 0.5rem;
  }

  nav,
  aside {
    margin: 0 0.5rem;
  }
}
