* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.spinner > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.slider {
  padding: 0 0.4rem;
}

.suburb-tooltip {
  background: #d8d8d870;
  border: none;
}

.chipCollection {
  display: flex;
  flex-wrap: wrap;
}

.chipCollection > div {
  margin: 0.1rem;
}

.drawerWrapper {
  margin: 1rem;
  white-space: nowrap;
  display: flex;
  align-items: stretch;
}

.drawerWrapper.horizontal {
  flex-direction: column;
}

.drawerWrapper.horizontal > button {
  margin-bottom: 1rem;
}

.drawerWrapper.vertical {
  flex-direction: row;
}

.drawerWrapper.vertical > button {
  flex-direction: row;
  margin: auto;
}

.drawerWrapper.left > button {
  margin-left: auto;
}

.drawerWrapper.right > button {
  margin-right: auto;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: rgb(39, 39, 39);
  color: #b3b3b3;
}

a {
  color: white;
}

a:visited {
  color: #a6d161;
}
