* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.spinner {
  width: '100%';
  height: '100%';
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}

.slider {
  padding: 0 0.4rem;
}

.suburb-tooltip {
  background: #d8d8d870;
  border: none;
}

.chipCollection {
  display: inline;
  margin-left: 0.5rem;
}

.chipCollection > div:not(:last-child) {
  margin-right: 0.3rem;
}
