::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1.4rem;
  border: 0.1rem solid transparent;
}
